extends ../base.pug

block content
    .container
        - var count = 0
        each bill, index in data
          .card
            .card-header
              strong
                a(href="#") #{bill.title}

            .card-body
              p Sponsor: #{bill.sponsor}
              p Subjects: #{bill.subjects}
              p Status:
                .ul.nav.nav-pills.nav-justified
                  .li.nav-item
                    a.nav-link.active(href="#") #{bill.status}
              p
                a.btn.btn-info(data-toggle="collapse" data-target="#demo"+index) Summary
              p.collapse(id="demo"+index) #{bill.summary}
            .card-footer
              p keywords:
                span
                  each keyword in keywords
                    a(href='#') # + #{keywords}
          p