extends ../base.pug

block content
    header
      nav.navbar.navbar-toggleable-sm
        .navbar-brand
            img.CitizensLikeMe_logo-white(src="img/CitizensLikeMe_logo.png")
        form.form-inline
          input.form-control.ml-auto(type="search" placeholder="Search" aria-label="Search")

    each bill, index in bills
      .card
        .card-header.pl-1.bg-transparent
          h4 #{bill.title}

        .card-body.mx-2
          .row
            .col-4 Status: #{bill.status}
            .col-8 Keywords:
              span.Rectangle-5 #{bill.keywords}
          p
            .see-more(data-toggle="collapse" data-target="#demo"+index)
                span see more
                i.fa.fa-caret-down
          .collapse(id="demo"+index)
            p.text-uppercase SPONSOR: #{bill.sponsor}
            p OVERVIEW: #{bill.summary}
        .card-footer

      p